.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 700px;
}

.access {
    border-bottom: 8px solid #333;
}

.item {
    flex-grow: 1;
    height: 350px;
    justify-content: space-around;
}

.notification {
    flex-grow: 1;
    border-bottom: 8px solid #333;
}

h3 {
    text-align: center;
    font-size: 40px;
}

.btn,
a.btn,
button.btn {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

btn font {
    padding-top: 20px;
}

a.btn--circle {
    margin-top: 50px;
    margin-right: 100px;
    width: 240px;
    height: 210px;
    padding: 20px 0 0;
    border-radius: 50%;
    color: #fff;
}

#index {
    background: #03a631;
    box-shadow: 0 7px 0 #025a05;
}

#userlist {
    background: #eb6877;
    box-shadow: 0 7px 0 #e53b4e;
}

#todayattendees {
    background: #8f68eb;
    box-shadow: 0 7px 0 #883be5;
}

#test {
    background: #8f68eb;
    box-shadow: 0 7px 0 #883be5;
}

a.btn--circle:first-child {
    margin-left: 150px;
}

a.btn--circle i {
    margin-top: 15px;
    font-size: 200%;
}

a.btn--circle p {
    margin-top: 25px;
}

.fa-position-bottom {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 0.5rem);
}

a.btn--circle:hover {
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
    color: #fff;
    -webkit-box-shadow: 0 3px 0 #e53b4e;
    box-shadow: 0 3px 0 #e53b4e;
}