.main {
    padding-top: 200px;
}

.form {
    max-width: 1000px;
    height: 350px;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    background-color: #fafafa;
}

.attendance-title {
    border-radius: 6px 6px 0 0;
    background-color: #2abca7;
    color: #fafafa;
    margin-bottom: 10px;
}

.attendance-item-parent select,
.attendance-item-child select {
    width: 62%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-top: 15px;
}

.attendance-item-parent select:focus,
.attendance-item-child select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.attendance-item-parent select option,
.attendance-item-child select option {
    background-color: #fff;
    color: #333;
    padding: 5px;
}

.attendance-item-parent,
.attendance-item-child {
    margin: 10px 0;
}

#submit-button {
    margin-top: 30px;
}

button {
    margin-top: 20px;
    background-color: #2abca7;
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid #2abca7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    width: 30%;
    color: #fff;
}