.main {
  padding-top: 100px;
}

.form {
  max-width: 800px;
  height: 540px;
  margin: auto;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fafafa;
}

.profile-title {
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  background-color: #2abca7;
  color: #fafafa;
  margin-bottom: 10px;
}

.profile-item:first-child {
  margin-top: 25px;
}

.profile-item {
  margin-top: 20px;
  margin-left: 90px;
  font-size: 1em;
  padding: 18px 10px 18px;
  font-family: "Source Sans Pro", arial, sans-serif;
  border: 1px solid #cecece;
  background: #d7d7d7;
  width: 100%;
  max-width: 600px;
  padding-top: 20px;
}

.profile-item::placeholder {
  padding: 0;
}

.form-item_required {
  width: 100%;
  padding-top: 20px;
}

.form-item_required::placeholder {
  padding: 0;
}

.form-item_required:first-of-type {
  margin-top: 35px;
}

.user-profile-items {
  display: flex;
}

button {
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 150px;
  background-color: #2abca7;
  padding: 12px 45px;
  border-radius: 5px;
  border: 1px solid #2abca7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  height: 70px;
}

button:hover,
.button:hover {
  background: #19a08c;
}