.main {
    padding-top: 50px;
}

.form {
    max-width: 1500px;
    height: 720px;
    margin: auto;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fafafa;
}

.mailbox-title {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #2abca7;
    color: #fafafa;
}

p {
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

table thead {
    border-bottom: solid 8px rgb(136, 136, 136);
}

table th, table td {
    text-align: center;
    padding: 15px 0;
    border-right: solid 1px #eee;
}

table tr:nth-child(odd) {
    background-color: #eaf8fa
}

.mailbox-items {
    overflow-y: scroll;
    height: 720px;
}

.not-mail-record {
    text-align: center;
    font-size: 1.2rem;
}

#day {
    width: 25%;
}

#from {
    width: 20%;
}

#title {
    width: 45%;
}

#__blank {
    width: 10%;
}

#open-button {
    color: blue;
}

.new-record-item {
    position: relative;
}

.new-record-item::before {
    content: "NEW";
    background: #e83929;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    width: 40px;
    position: absolute;
    left: 20px;
}