.main {
    padding-top: 50px;
}

.dummy_form {
    margin-top: -200px;
    margin-bottom: 200px;
    opacity: 0;
}
.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}