.main {
    padding-top: 200px;
}

.form {
    max-width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fafafa;
}

.successLogout-title {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #2abca7;
    color: #fafafa;
    margin-bottom: 10px;
}

button {
    margin-top: 70px;
    background-color: #2abca7;
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid #2abca7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    width: 30%;
    color: #fff;
}

button:hover,
.button:hover {
    background: #19a08c;
}